:root {
  --primary-color: #d2d5e6;
  --heading-font-family: "Arvo", serif;
  --default-font-family: "Open Sans", sans-serif;
}
body {
  font-family: var(--default-font-family);
  margin: 70px;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  font-size: 85px;
  margin-bottom: 45px;
}
h2 {
  color: black;
  font-family: var(--default-font-family);
}

h4 {
  font-family: var(--default-font-family);
  font-size: 22px;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

ul {
  list-style: none;
}

section {
  color: #6e8ba1;
}

section a {
  color: var(--primary-color);
}

.btn-branding {
  background-color: #6e8ba1;
  border-radius: 28px;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 27px;
  padding: 12px 20px;
}

.description {
  margin: 30px;
  padding: 20px 10px;
}

.row :hover {
  background-color: #3e3f42;
}
.description h3 {
  font-family: var(--default-font-family);
  color: #6e8ba1;
}

.description p {
  font-family: var(--default-font-family);
  color: var(--primary-color);
  text-indent: 50px;
}
.description li {
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

.galaxy {
  background-image: url("/images/sky.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 650px;
}

.hubble {
  margin-top: 25px;
}
.number {
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding-top: 17px;
  background-color: #b0cadd;
  border-radius: 50%;
  margin-bottom: 1.1rem;
}
.solar-description {
  background-color: #d0dde6;
  text-align: center;
}

@media (max-width: 500px) {
  h1,
  h2 {
    font-size: 20px;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 14px;
    font-family: var(--default-font-family);
  }

  .description {
    margin: 15px 0px;
  }
  .description p {
    text-indent: 0%;
  }
  .btn-branding {
    font-size: 11px;
    padding: 10px;
  }
}
