:root {
  --primary-color: #d2d5e6;
  --seconday-color: #6e8ba1;
  --heading-font-family: "Arvo", serif;
  --default-font-family: "Open Sans", sans-serif;
}
body {
  font-family: var(--default-font-family);
  color: var(--seconday-color);
  margin: 70px;
}
h4 {
  font-size: 35px;
}

p {
  color: var(--primary-color);
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 1.7;
  text-indent: 50px;
}

li {
  font-family: var(--default-font-family);
  font-size: 20px;
  list-style: none;
  padding-bottom: 2px;
}

.btn-branding {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  color: var(--seconday-color);
  font-size: 16px;
  line-height: 27px;
}

.milkyway-fact-box {
  background-color: var(--primary-color);
  padding: 20px 10px;
  margin: 30px;
}

.milkyway-description {
  background-color: var(--seconday-color);
  padding: 20px 10px;
  margin: 30px;
}

.milkyway-image-box {
  background-color: black;
  border: 2px solid var(--primary-color);
  padding: 20px;
  margin: 30px;
}

.fact-container {
  background-color: #eee;
  padding: 79px 60px;
  margin: 90px;
}

.milkyway {
  background-image: url("/images/milkway.jpeg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 650px;
}
@media (max-width: 900px) {
  h1,
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: var(--default-font-family);
    margin: 5px;
    padding: 0;
  }
  p {
    text-align: center;
    font-size: 14px;
    font-family: var(--default-font-family);
    margin: 5px;
    padding: 0;
  }
  .btn-branding {
    font-size: 11px;
    text-align: center;
  }
}
