:root {
  --primary-color: #d2d5e6;
  --seconday-color: #6e8ba1;
  --heading-font-family: "Arvo", serif;
  --default-font-family: "Open Sans", sans-serif;
}
body {
  font-family: var(--default-font-family);
  color: var(--seconday-color);
  margin: 50px;
}

h3 {
  color: black;
  font-family: var(--default-font-family);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

p {
  padding: 15px 40px 0px 40px;
  text-indent: 50px;
}

.milkyway-description {
  background-color: var(--seconday-color);
}

.milkyway-description p {
  font-size: 15px;
  line-height: 1.7;
  padding: 5px 10px;
}
.milkyway-description:hover {
  background: #97a5b3;
}

.milkyway {
  background-image: url("/images/milkway.jpeg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 650px;
}

.overlay-container {
  position: relative;
  padding: 50px;
}
.overlay {
  background: url("/images/milkway.jpeg");
  background-color: var(--seconday-color);
  margin: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.8s ease;
}

.text-overlay {
  color: var(--primary-color);
  font-size: 18px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay-container:hover .overlay {
  opacity: 1;
}

@media (max-width: 900px) {
  h1,
  h4 {
    text-align: center;
    font-size: 30px;
    font-family: var(--default-font-family);
    margin: 5px;
    padding: 0;
  }
  p {
    text-align: center;
    font-size: 14px;
    font-family: var(--default-font-family);
    margin: 5px;
    padding: 0;
  }
  .btn-branding {
    font-size: 11px;
    text-align: center;
  }
}
