ody {
  background: grey;
}

.card-block .btn-outline-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.card {
  margin: 20px 0;
}

/* Flip Cards CSS */
.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

.rotate {
  width: 25%;
  background-repeat: no-repeat;
  background-size: 25%;
  border-radius: 50%;
  padding-bottom: 20px;
  animation: rotate 30s infinite linear;
}
#mars {
  width: 200px;
  height: 200px;
  background: url("/images/mars.jpg");
  background-repeat: no-repeat;
  background-size: 200px;
  border-radius: 50%;
  padding-bottom: 20px;
  animation: rotate 15s infinite linear;
}
#mecury {
  width: 100px;
  height: 100px;
  background: url("/images/mecury.jpg");
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 50%;
  padding-bottom: 20px;
  animation: rotate 50s infinite linear;
}
#jupiter {
  width: 100px;
  height: 100px;
  background: url("/images/jupiter.jpg");
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 50%;
  padding-bottom: 20px;
  animation: rotate 50s infinite linear;
}
#venus {
  width: 100px;
  height: 100px;
  background: url("/images/venus.jpg");
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 50%;
  padding-bottom: 20px;
  animation: rotate 30s infinite linear;
}
