/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
  --primary-color: #d2d5e6;
  --heading-font-family: "Arvo", serif;
  --default-font-family: "Open Sans", sans-serif;
  --earth-tilt: rotate(25.2deg);
}
body {
  font-family: var(--default-font-family);
}

a {
  text-decoration: none;
}

h1 {
  color: var(--primary-color);
  font-family: Helvetica, sans-serif;
  font-size: 85px;
  letter-spacing: 3.5px;
}

footer {
  color: var(--primary-color);
  font-size: 16px;
}

.homepage {
  padding: 75px 20px;
  text-align: center;
}

.space {
  background-image: url("/images/sky.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 650px;
}

.btn-branding {
  background-color: #6e8ba1;
  border-radius: 28px;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 27px;
  padding: 12px 20px;
}

.planet {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150%;
  width: 200%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.overlay-text {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet :hover .overlay {
  opacity: 1;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

.rotate {
  width: 25%;
  background-repeat: no-repeat;
  background-size: 25%;
  border-radius: 50%;
  padding-bottom: 20px;
  animation: rotate 30s infinite linear;
}

#earth {
  width: 100px;
  height: 100px;
  background: url("/images/earth.jpg");
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 50%;
  padding-bottom: 20px;
  animation: rotate 50s infinite linear;
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
    margin-bottom: 15px;
  }
  p {
    text-align: center;
    font-size: 16px;
    font-family: var(--default-font-family);
  }
  .btn-branding {
    font-size: 14px;
    padding: 10px;
  }
}
