/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
  --primary-color: #d2d5e6;
  --heading-font-family: "Arvo", serif;
  --default-font-family: "Open Sans", sans-serif;
  --earth-tilt: rotate(25.2deg);
}
body {
  font-family: var(--default-font-family);
  margin: 50px 50px;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--primary-color);
  font-family: Helvetica, sans-serif;
  font-size: 90px;
  letter-spacing: 3.5px;
}

footer {
  color: white;
  font-size: 16px;
  padding-bottom: 5px;
}

.btn:hover {
  background: var(--primary-color);
  color: black;
  transition: 0.7s ease-in-out;
}

.git {
  color: rgb(140, 56, 224);
  background: #323d3e;
}

.git:hover {
  color: #d2d5e6;
  transition: 0.5s ease-in-out;
}

.mail {
  background: #323d3e;
}

.mail:hover {
  color: #d2d5e6;
  transition: 0.5s ease-in-out;
}

.homepage {
  padding: 33px 20px;
  text-align: center;
}

.navbar-toggler.icon {
  background-color: ivory;
}

.space {
  background-image: url("/images/sky.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 650px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

.rotate {
  width: 33%;
  background-repeat: no-repeat;
  background-size: 25%;
  border-radius: 50%;
  padding-bottom: 20px;
  animation: rotate 30s infinite linear;
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
    margin-bottom: 15px;
  }
  p {
    text-align: center;
    font-size: 16px;
    font-family: var(--default-font-family);
  }

  body {
    margin-bottom: 15px;
  }

  footer {
    font-size: 12px;
    text-align: center;
  }
}
