/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
}
.space {
  background-image: url("/images/space.jpeg");
  background-position: center;
  background-size: cover;
  height: 500px;
}
